body {
    background-color: seashell;
}

.row {
    background-color: white;
}

nav > a > strong {
    color: yellow;
}

h3 {
    color: teal;
    background-color: palegoldenrod;
}

h1 {
    color: purple;
}

h2 {
    color: purple;
}

@media (max-width: 800px) {
    nav > a > strong {
        color: pink;
    }

    body {
        background-color: palegoldenrod;
    }
}