.navbar {
    background-color: rgb(0, 163, 184);
}

.title h1 {
    color: yellow;
    text-decoration: none;
}

body {
    background-color: rgba(245, 245, 245, 0.781);
}

.row {
    background-color: white;
}

h3 {
    color: teal;
    background-color: palegoldenrod;
}

h1 {
    color: purple;
}

h2 {
    color: purple;
}