nav {
    background-color: rgb(156, 232, 252);
}

h3 {
    color: rgb(231, 2, 143);
}

.nav-link {
    font-weight: bold;
    color: blue;
}

.dropdown-menu {
    background-color: rgb(156, 232, 252);
}

.dropdown-item {
    color: purple;
}

#navbarDropdownMenuLink {
    color: purple;
    margin-right: 40px;
}

body {
    background-color: rgb(228, 249, 255);
}

#left {
    margin-top: 90px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: seashell;
}

#right {
    margin-top: 90px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: seashell;
}

p {
    color: blue;
}

i {
    color: steelblue;
}

h4 {
    color: rgb(0, 0, 214);
}

h5 {
    color: rgb(0, 0, 214);
}

.check {
    color: steelblue;
}

footer {
    background-color: rgb(156, 232, 252);
}