nav {
    background-color: rgb(156, 232, 252);
}

h3 {
    color: rgb(231, 2, 143);
}

.nav-link {
    font-weight: bold;
    color: blue;
}

.dropdown-menu {
    background-color: rgb(156, 232, 252);
}

.dropdown-item {
    color: purple;
}

#navbarDropdownMenuLink {
    color: purple;
    margin-right: 40px;
}

body {
    background-color: rgb(228, 249, 255);
}

#left {
    margin-top: 90px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: seashell;
    word-wrap: break-word;
}

#right {
    margin-top: 90px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: seashell;
}

p {
    color: blue;
}

i {
    color: steelblue;
}

h4 {
    color: darkmagenta;
}

h5 {
    color: rgb(0, 0, 214);
}

.check {
    color: slateblue;
}

.footer {
    background-color: rgb(156, 232, 252);
    color: darkmagenta;
    text-align: center;
}

.pubs {
    text-indent: -10px;
    color: rgb(0, 0, 214);
}

a {
    color: blue;
}

.info {
    color: slateblue;
}

.table {
    color: slateblue;
}

.first {
    text-align: center;
    color: blue;
}

.card-body {
    background-color: rgba(255, 245, 238, 0.726);
}